.container {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}
.containerPadding {
    width: 100%;
    padding: 48px 40px;
    box-sizing: border-box;
}

.noContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.inner {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

.grayBg {
    background-color: #f2f5f9;
}