.container {
    align-items: center;
    text-align: center;
    padding: 44px 0;
    display: flex;
    flex-direction: row-reverse
}

.textBlock {
    margin-top: 17px;
    padding-left: 40px;
    text-align: left;
}

.leftBlock {
    display: block;
}

.advantagesBlock {
    width: 568px;
    height: 100 px;
}   

.title{
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    color: #252527;
    padding-bottom: 24px;

}

.description {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #415566;

}

.pictureBlock {
    max-width: 100%;
    margin-top: 14px;
    height: auto;
}

