.container {
    /* align-items: center; */
    text-align: center;
    /* padding: 44px 0; */
    display: block;
    /* flex-direction: column */
}

.text {
    margin-bottom: 6px ;
}


.childrenWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 16px;
    align-items: start;
    column-gap: 48px;
    /* row-gap: 4px; */
    width: 100%;
}
