.backGround {
    border-radius: 18px;
    width: 64px; 
    height: 64px;
    min-width: 64px; 
    min-height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.grayBg {
    background: #F2F5F9;
}

.whiteBg {
    background: #FFF;
}

.icon {
    min-height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
}
